__pycache__/
.ruff_cache/
.DS_Store
.skill-lock.json

plugins/

# <https://github.com/vercel-labs/skills/tree/main/skills/find-skills>
skills/find-skills/

# <https://impeccable.style/>
skills/impeccable/

# <https://github.com/robertmsale/skizzles>
skills/install-skizzles
skills/fourth-wall/

# <https://github.com/twostraws/SwiftUI-Agent-Skill>
skills/swiftui-pro
