__pycache__/
.ruff_cache/
.DS_Store
.skill-lock.json

plugins/

# <https://github.com/vercel-labs/skills/tree/main/skills/find-skills>
skills/find-skills/

# <https://impeccable.style/>
skills/impeccable/

# <https://github.com/robertmsale/skizzles>
skills/install-skizzles
skills/fourth-wall/

# <https://github.com/twostraws/SwiftUI-Agent-Skill>
skills/swiftui-pro

# <https://www.tasteskill.dev/>
skills/design-taste-frontend/
skills/full-output-enforcement/
skills/gpt-taste
skills/high-end-visual-design/
skills/redesign-existing-projects/

# <https://github.com/xsyetopz/easel.js>
skills/threejs-to-easeljs
skills/using-easeljs
